## Preprocessing

In [1]:
! pip install --upgrade terality

Requirement already satisfied: terality in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (0.14.4)
Requirement already satisfied: protobuf<4.0.0,>=3.9.1 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from terality) (3.19.3)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from terality) (2.27.1)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from terality) (1.2.4)
Requirement already satisfied: pydantic<2.0.0,>=1.7.3 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from terality) (1.9.0)
Requirement already satisfied: sentry-sdk<2.0.0,>=1.3.0 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from terality) (1.5.4)
Requirement already satisfied: pyarrow<7.0.0,>=6.0.0 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from terality) (6.0.1)
Requirement already satisfied: numpy<2.0,>=1.18 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from terality) (1.20.1)
Requirement already satisfied: tqdm<5.0.0,>=4.45.0 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from terality) (4.62.3)
Requirement already satisfied: boto3>=1.16.28 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from terality) (1.19.8)
Requirement already satisfied: click<9,>=3.2 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from terality) (8.0.3)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from boto3>=1.16.28->terality) (0.10.0)
Requirement already satisfied: botocore<1.23.0,>=1.22.8 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from boto3>=1.16.28->terality) (1.22.8)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from boto3>=1.16.28->terality) (0.5.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from botocore<1.23.0,>=1.22.8->boto3>=1.16.28->terality) (2.8.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from botocore<1.23.0,>=1.22.8->boto3>=1.16.28->terality) (1.26.4)
Requirement already satisfied: colorama in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from click<9,>=3.2->terality) (0.4.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from pandas<2.0.0,>=1.0.0->terality) (2021.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from pydantic<2.0.0,>=1.7.3->terality) (3.10.0.2)
Requirement already satisfied: six>=1.5 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.23.0,>=1.22.8->boto3>=1.16.28->terality) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from requests<3.0.0,>=2.23.0->terality) (2020.12.5)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from requests<3.0.0,>=2.23.0->terality) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\abrow\anaconda3\envs\pythondata\lib\site-packages (from requests<3.0.0,>=2.23.0->terality) (2.0.10)

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import terality as te

#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://raw.githubusercontent.com/104ambrown/Deep-Learning-Challenge/main/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'])

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
appType_count = application_df['APPLICATION_TYPE'].value_counts()
appType_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(appType_count[appType_count<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [7]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

In [8]:
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
appType_binning = application_df['CLASSIFICATION'].value_counts()

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count = appType_binning[appType_binning>1]
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C2400        6
C1720        6
C4100        6
C1600        5
C1257        5
C0           3
C1260        3
C2710        3
C1234        2
C1267        2
C1246        2
C1256        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(appType_binning[appType_binning<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1278',
 'C1238',
 'C1237',
 'C1235',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1600',
 'C1257',
 'C0',
 'C1260',
 'C2710',
 'C1234',
 'C1267',
 'C1246',
 'C1256',
 'C3200',
 'C1236',
 'C1900',
 'C1728',
 'C1580',
 'C2150',
 'C2190',
 'C1248',
 'C2570',
 'C2380',
 'C2600',
 'C6100',
 'C1820',
 'C4120',
 'C1570',
 'C1370',
 'C2500',
 'C4500',
 'C2561',
 'C1245',
 'C1283',
 'C5200',
 'C8210',
 'C1732',
 'C3700',
 'C4200',
 'C2170']

In [12]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

In [13]:
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

In [16]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=50)

In [17]:
# Create a StandardScaler instance
scaler = StandardScaler()

In [21]:
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

MemoryError: Unable to allocate 3.76 GiB for an array with shape (25724, 19618) and data type float64

In [ ]:
# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_sclaed[0])
hidden_nodes_L1 = 5
hidden_nodes_L2 = 15
hidden_nodes_L3 = 30
hidden_nodes_L4 = 45
hidden_nodes_L5 = 60

nn = tf.keras.models.Sequential()

In [ ]:
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_L1, input_dim=input_features, activation='relu'))

In [ ]:
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_L2,  activation='relu'))

In [ ]:
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_L3,  activation='relu'))

In [ ]:
# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_L4,  activation='relu'))

In [ ]:
# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_L5,  activation='relu'))

In [ ]:
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [ ]:
# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
nn.save('Final_AlphabetSoup_DeepLearning.h5')